.footer-left,
.footer-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.footer-left h1{
    font-size: 2.3rem;
    font-weight: bold;
}

.footer-left h2, 
.footer-right h2 {
    font-size: 16px;
    color: var(--medium-brown);
    font-weight: var(--font-weight-light);
}

.footer-right p:nth-child(1){
    text-align: right;
}

.footer-right p:nth-child(2){
    color: var(--medium-brown);
}

@media only screen and (max-width: 500px) {
    .footer-left h1{
        font-size: 2rem;
        font-weight: bold;
    }

    .footer-left h2, 
    .footer-right h2 {
        font-size: 1em;
    }
}